/**/

/**/
body{
    text-align:center;
  }
  #imagem{
    display:block;
    width:100%;
    transition: 0.5s;
  }
  .btn{
   
    border-radius:80px;
    width: 100%;
    background: blue;
    color: white;
   margin-top: 20px;
  }
  #div-editar{
    margin:auto;
    width:80%;
  }
  

  #container_foto{
    overflow:hidden;
  }

  .txt-range{
    text-align:left;
  }
  td{
    margin-bottom:30px;
  }
